Repository CMU-313/spring23-nodebb-team-florida, pull requests merged in 2023-02, with the labels that each got.

#34 Endorse functionality added
  public/src/client/topic/events.js
  public/src/client/topic/postTools.js
  src/api/helpers.js
  src/api/posts.js
  src/controllers/write/posts.js
  src/posts/endorses.js
  src/posts/endorses.ts
  src/posts/index.js
  src/routes/write/posts.js
  src/socket.io/posts/tools.js
  src/topics/create.js
  src/topics/posts.js
  test/posts.js
  themes/nodebb-theme-persona/templates/partials/topic/post-menu-list.tpl
Labels: Sprint 2 Issue, Endorse Answer

#43 Writing UserGuide.md
  UserGuide.md
  postmenu_endorsed.png
  postmenu_unendorsed.png
Labels: Endorse Answer

#45 Automated tests for endorse
  src/api/posts.js
  test/posts.js
Labels: Endorse Answer, Test

#44 Removal of debug print statements
  public/openapi/read/topic/topic_id.yaml
  src/posts/endorses.js
  src/posts/endorses.ts
Labels: documentation, Endorse Answer

#46 Added endorse test cases to the user guide
  UserGuide.md
  test/posts.js
Labels: documentation, Endorse Answer

#47 Endorse text
  UserGuide.md
  postmenu_endorsed.png
  themes/nodebb-theme-persona/less/bootstrap/utilities.less
  themes/nodebb-theme-persona/templates/partials/topic/post.tpl
Labels: Endorse Answer

#49 Fix unexpected prompt for endorse function
  UserGuide.md
  themes/nodebb-theme-persona/less/bootstrap/utilities.less
Labels: bug, documentation, Endorse Answer
